/* General */
html, body{
	margin:0;
	padding:0;
	background: #003262 !important;
}

h1 {
	font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif !important;
}
h2 {
	font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif !important;
}
h3 {
	font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif !important;
}

/* Title Bar and Nav bar, stuff in menu.php*/
#titleBar {
	background: #003262;
	padding: 30px 50px 30px 100px;
}
#titleName{
	font-weight: 300;
	font-size: 25px;
	font-weight: 300;
}
#titleDetails{
	border-left: 1px solid #d8d8d8;
	color: #d8d8d8;
	padding: 5px;
	margin-left: 10px;
	padding-left: 10px;
	font-weight: 200;
	font-size: 25px
}
.titleText {
	color: #fff !important;
	display: inline-block !important;
	vertical-align: middle;
}
#titleLogo {
	display: inline-block !important;
	vertical-align: middle;
	max-height: 100px;
}
#haasLogo {
	display: inline-block !important;
	vertical-align: middle;
	max-height: 100px;
}
.navbar {
	border: 0px !important;
	padding-right: 50px;
}
.navbar-default {
	border-bottom: 30px solid #003262 !important;
	border-radius: 0px !important;
}

/* For the home page */
#profilePic {
	width: 100%;
	max-width: 300px;
}
#contact {
	background: #f8f8f8;
	padding: 50px 30px 50px 30px;
	margin-bottom: 50px;
}
#address p {
	margin: 0;
}
#homeIntro {
	background: #f8f8f8;
	padding: 50px;
	text-align: justify;
}

/* For the lab page */
.profilePicLab {zxxz
	vertical-align: middle;
}

/* For the About + Research + Lab pages */
.containerBody {
	background: #f8f8f8;
	padding: 50px 100px 50px 100px !important;
	margin-bottom: 50px;
}
