html, body{
	margin:0;
	padding:0;
}
.title {
	width: 70% !important;
	height: 100px;
}
.title h1{
	text-decoration: underline;
}
.titlepic{
	width:200px;
	height:175px;
	display:block;
	position:relative;
	overflow:hidden;
}
.titlepic img {
	position:absolute !important;
	height:auto;
	top:-10;
	left:10;
	max-height:175px;
}
.topbar {
	background-color: #232323;
	width: 100%;
	height: 5px;
}
.affix {
	position: fixed;
	top: 0px;
	width: 100%;
}
.affix-top {
	position: absolute;
}
.mainbody {
	width: 70% !important;
	margin-top: 50px;
	margin-bottom: 50px;
}
.mainbodyHome {
	width: 888px !important;
}
.mainbody h1 {
	margin-top:50px;
}
.jumbotron{
	position: relative !important;
	background: none !important;
	margin: 0 !important;
	height: 150px !important;
	padding: 0px !important;
}
.jumbotron:after {
	content:"";
	/*background: url("http://lorempixel.com/1000/200") no-repeat;*/
	background: url("../resources/jumbotron.png") no-repeat;
	background-size: 100% auto;
	opacity: .5;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;
 }
.nav > li.disabled>a:hover,
.nav > li.disabled>a:focus {
	cursor: default !important;
}
.nav-tabs.nav-justified>li>a {
	background-color: #fff !important;
	border-radius: 0 !important;
}
.carousel {
	margin: 50px;
	z-index: -100;
}
.carousel .item {
	height: 350px;
}
.carousel img{
	width: 100%;
}
a:hover{
	text-decoration: none !important;
}
.dropdown-menu>li>a{
	padding: 8px 20px !important;
}
.blackcaret{
	border-top-color: #000 !important;
	border-bottom-color: #000 !important;
}
#collab h2{
	margin-top: 50px;
}
.thumbnail.right-caption > img {
    float: left;
    margin-right: 9px;
}
.thumbnail.right-caption {
    float: left;
}
.thumbnail.right-caption > .caption {
    padding: 4px;
}
.profilepic {
	height: 300px !important;
}
.facultyblock {
	padding: 20px !important;
}
.facultyblock h3{
	margin: 0px !important;
	padding-bottom: 10px !important;
}
.facultyblock p, a{
	margin: 0px !important;
	padding-left: 25px;
}