<html>
<head>
  <title> Angus Hildreth | About</title>
  <meta name="description" content="Personal website of Angus Hildreth - About">

  <!-- Head goes here -->
  REPLACEHEAD

</head>
<body>

  <!-- Menu goes here -->
  REPLACEMENU

  <div class="container firstContainer">
    <div class="row marginBottom">
      <div class="col-md-4" id="contact">
        <img class="img-responsive" id="profilePic" src="resources/angus_hildreth.png" alt="" />
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-7" id="homeIntro">
        <p>Angus is a doctoral candidate studying organizational behavior at the University of California, Berkeley’s Haas School of Business.</p>
        <p>He graduated from the University of Cambridge with a Master's degree in mathematics and has an MBA from the University of California, Berkeley. He is a Fellow of the Institute and Faculty of Actuaries and worked for more than a decade as a consulting actuary for Aon and PricewaterhouseCoopers.  He spent two years managing the affairs of PricewaterhouseCoopers’ Global CEO and Global Leadership Team before pursuing his PhD.</p>
        <p>His research examines the dysfunctionality of groups and focuses on the effects of power and loyalty on group members’ collaborative and ethical behavior.</p>
        <p>To find out more, click on the following links:</p>
        <ul>
        <li>Angus' <a href="research.html" class="aboutLink">research</a></li>
        <li>Research <a href="publications.html" class="aboutLink">publications</a></li>
        <li>Research <a href="lab.html" class="aboutLink">lab</a></li>
        <li><a href="vita.html#research" class="aboutLink">Research Statement</a> and <a href="vita.html#teaching" class="aboutLink">Teaching Statement</a></li>
        <li><a href="vita.html" class="aboutLink">Vita</a></li>
        </ul>
        </p>
      </div>
    </div>
  </div>


  <!-- Foot goes here -->
    REPLACEFOOT


</body>
</html>
