<html>
<head>
  <title> Angus Hildreth</title>
  <meta name="description" content="Personal website of Angus Hildreth">

  <!-- Head goes here -->
  REPLACEHEAD

</head>
<body>

  <!-- Menu goes here -->
  REPLACEMENU

  <div class="container firstContainer carouselContainer" align="center">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        <li data-target="#carousel-example-generic" data-slide-to="3"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <a href="research.html#loyalty">
            <div class="imgWrapper" style="background-image: url('resources/loyalty.png')"></div>
          </a>
          <div class="carousel-caption">
            Loyalty
          </div>
        </div>

        <div class="item">
          <a href="research.html#power">
            <div class="imgWrapper" style="background-image: url('resources/power.png')"></div>
          </a>
          <div class="carousel-caption">
            Power
          </div>
        </div>

        <div class="item">
          <a href="research.html#groups">
            <div class="imgWrapper" style="background-image: url('resources/splash.jpg')"></div>
          </a>
          <div class="carousel-caption">
            Top teams
          </div>
        </div>

        <div class="item">
          <a href="lab.html">
            <div class="imgWrapper" style="background-image: url('resources/labgroup.JPG')"></div>
          </a>
          <div class="carousel-caption">
            Research Lab
          </div>
        </div>
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>

  <!-- Foot goes here -->
    REPLACEFOOT

</body>
</html>
