<html>
<head>
  <title> Angus Hildreth</title>
  <meta name="description" content="Personal website of Angus Hildreth">
  <script type="text/javascript" src="js/jquery.min.js"></script>
  <script type="text/javascript" src="js/script.js"></script>

  <!-- Head  -->
  <link rel="icon" href="resources/berkeleyLogo.gif" />
  <meta name="author" content="Andrew Fang">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <link rel="stylesheet" media="screen" href="css/stylesheet.css">
  <link rel="stylesheet" media="screen" href="css/bootstrap.min.css">
  <link href="http://fonts.googleapis.com/css?family=Lato:100,300,400" rel="stylesheet" type="text/css">
  <script type="text/javascript" src="js/bootstrap.min.js"></script>

</head>
<body>

  <!-- Menu  -->
  <div class="container-fluid" id="titleBar">
    <div class="row">
      <div class="col-md-11">
        <h1 class="titleText"><span id="titleName">Angus Hildreth</span></h1>
        <h2 class="titleText"><span id="titleDetails">University of California, Berkeley</span><h2>
        </div>
        <div class="col-md-1">
          <img src="resources/berkeleyLogo.gif" class="img-responsive" id="titleLogo" alt="" />
        </div>
      </div>


    </div>

    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="index.html" id="homeBtn">Home</a></li>
          <li><a href="about.html" id="docBtn">About</a></li>
          <li class="navbtn dropdown">
            <a class="dropdown-toggle" id="labbutton" class="labbutton" href="lab.html">
              Lab
            </a>
            <ul class="dropdown-menu">
              <li class="navbtn"><a href="lab.html#labOverview" class="labbutton">Overview</a></li>
              <li class="navbtn"><a href="lab.html#labApply" class="labbutton">Apply</a></li>
              <li class="navbtn"><a href="lab.html#labMembers" class="labbutton">Team</a></li>
              <li class="navbtn"><a href="lab.html#labAlumni" class="labbutton">Alumni</a></li>
            </ul>
          </li>
          <li><a href="research.html" id="docBtn">Research</a></li>
          <li><a href="vita.html" id="aboutBtn">Vita</a></li>
        </ul>
      </div>
    </nav>
    <!-- Menu End -->

  <div class="container">
    <div class="row">
      <div class="col-md-3" id="contact">
        <img class="img-responsive" id="profilePic" src="resources/panda.jpg" alt="" />
        <h3>Contact</h3>
        <p>angus@berkeley.edu</p>
        <span id="address">
          <p>Walter A. Haas School of Business</p>
          <p>545 Student Services #1900</p>
          <p>2220 Piedmont Avenue,</p>
          <p>University of California, Berkeley</p>
          <p>Berkeley, CA 94720-1900</p>
        </span>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-8" id="homeIntro">
        <p>
          Angus Hildreth is a doctoral candidate in the Management of Organizations group at the University of California, Berkeley - Walter A. Haas School of Business. His research focuses on the effects of power and status on leadership effectiveness and on the ethical consequences of loyalty in group contexts.
        </p>
        <ul>
        <li>Click <a href="about.html">here</a> to find out more about Angus' background or <a href="vita.html">here</a> to access a copy of his vita.</li>
        <li>Click <a href="lab.html">here</a> to find out more about his research lab and how to join.</li>
        <li>Click <a href="research.html">here</a> to find out more about Angus' research, his published papers, the collaborators he works with and current work in progress.</li>
        </ul>
        <p>Thanks for visiting this site!</p>
        </p>
      </div>
    </div>
  </div>





</body>
</html>
