
<html>
<head>
  <title> Angus Hildreth | Lab</title>
  <meta name="description" content="Personal website of Angus Hildreth - Lab">

    <!-- Head goes here -->
    REPLACEHEAD

</head>
<body>

  <!-- Menu goes here -->
  REPLACEMENU

    <div class="container firstContainer carouselContainer" align="center">
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
          <li data-target="#carousel-example-generic" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <div class="imgWrapper" style="background-image: url('resources/lab.jpg')"></div>
            <div class="carousel-caption">
              Our Lab in Napa
            </div>
          </div>

          <div class="item">
            <div class="imgWrapper" style="background-image: url('resources/lab2.jpg')"></div>
            <div class="carousel-caption">
              Coding Data
            </div>
          </div>

          <div class="item">
            <div class="imgWrapper" style="background-image: url('resources/lab3.jpg')"></div>
            <div class="carousel-caption">
              Running Experiments
            </div>
          </div>

          <div class="item">
            <div class="imgWrapper" style="background-image: url('resources/lab4.jpg')"></div>
            <div class="carousel-caption">
              Lab Social
            </div>
          </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>

    <div class="containerBody container" id="labOverview" >
        <h3>Overview</h3>
        <p>We are a group of undergraduate students and a graduate student who work on social psychological and organizational behavior research.  We work with faculty at UC Berkeley’s Haas School of Business and at other US business schools.</p>
        <p>Our lab has a strong culture of learning and collaboration. Members get involved in all aspects of the research process and are expected to seek new challenges and continue to grow.</p>
        <p>Since 2009, more than 60 undergraduate researchers have been part of the lab.  Profiles of our current lab members and some of our illustrious alumnae are set out below.</p>
    </div>

      <div class="containerBody container" id="labApply">
        <h3>How to apply</h3>
        <p>We hire new researchers every semester through Berkeley’s Undergraduate Research Apprentice Program.  Click <a href="http://research.berkeley.edu/urap/">here</a> to find out more.</p>
      </div>
    </div>

    <div class="containerBody container" id="labMembers">
      <h3>Our Team</h3>


      <div class="thumbnail row">
        <div class="col-md-3">
          <img src="resources/neel_patel.png" alt="Neel Patel" class="img-rounded img-responsive profilePicLab">
        </div>
        <div class="col-md-8">
          <h3>Neel Patel</h3>
          <p>Neel is an Economics major in his third year at Berkeley and joined the team in his sophomore year in Fall 2013. He intends to pursue a career in the finance industry after he graduates as well as gain masters degrees in finance and business administration. His ultimate goal is to start his own company. Neel enjoys travelling to different countries, practicing Karate, cooking seafood, and playing squash.</p>
        </div>
      </div>

      <div class="thumbnail row">
        <div class="col-md-3">
          <img src="resources/megan_gorges.jpg" alt="Megan Gorges" class="img-rounded img-responsive profilePicLab">
        </div>
        <div class="col-md-8">
          <h3>Megan Gorges</h3>
          <p>Megan Gorges is a third year Psychology major and joined the team in Spring 2014. After graduation, she hopes to pursue a PhD in social psychology. She loves to explore nature, play soccer, and listen to people talk about their lives.</p>
        </div>
      </div>

      <div class="thumbnail row">
        <div class="col-md-3">
          <img src="resources/sylvia_luong.png" alt="Sylvia Luong" class="img-rounded img-responsive profilePicLab">
        </div>
        <div class="col-md-8">
          <h3>Sylvia Luong</h3>
          <p>Sylvia is a second year Psychology and Legal Studies double major and joined the lab in her sophomore year in Fall 2014. After she graduates, she plans to continue with higher education to work toward an MBA in Clinical Psychology. In her free time, Sylvia enjoys visiting museums, drinking tea, and reading books.</p>
        </div>
      </div>

      <div class="thumbnail row">
        <div class="col-md-3">
          <img src="resources/nan_farley.png" alt="Nan Farley" class="img-rounded img-responsive profilePicLab">
        </div>
        <div class="col-md-8">
          <h3>Nan Farley</h3>
          <p>Nan is a junior at UC Berkeley fulfilling an Interdisciplinary Major where she is combining Sociology, Psychology, and Organizational Behavior. She joined the lab in Fall 2014 and was extremely excited by the similar focus of the lab to her area of interest. Her ultimate goal is to lead a well-rounded life while perhaps pursuing further education/research or working for a non-profit in San Francisco.</p>
        </div>
      </div>

      <div class="thumbnail row">
        <div class="col-md-3">
          <img src="resources/emma_aviet.png" alt="Emma Aviet" class="img-rounded img-responsive profilePicLab">
        </div>
        <div class="col-md-8">
          <h3>Emma Aviet</h3>
          <p>Emma is a second year Psychology and English double major at Berkeley. She joined the lab Fall 2014 in order to better understand how social psychology and organizational behavior affect us in both the work and academic environment. She was also interested in learning how psychological research is conducted as she plans to continue her studies in graduate school. Emma was born and raised in Silicon Valley and loves to read, explore the city, and travel.</p>
        </div>
      </div>

      <div class="thumbnail row">
        <div class="col-md-3">
          <img src="resources/trevor_laity.png" alt="Trevor Laity" class="img-rounded img-responsive profilePicLab">
        </div>
        <div class="col-md-8">
          <h3>Trevor Laity</h3>
          <p>Trevor Laity is a sophomore Psychology major at Cal. He coxed for Cal's Men's Crew team his freshman year, then joined the team his second year to pursue his interest in organizational behavior, positive psychology, leadership, and corporate culture. Trevor currently has a position at UC Berkeley's Greater Good Science Center and attends music festivals, symphonies, operas, and raves alike.</p>
        </div>
      </div>

      <div class="thumbnail row">
        <div class="col-md-3">
          <img src="resources/anusha_rijhsinghani.png" alt="Anusha Rijhsinghani" class="img-rounded img-responsive profilePicLab">
        </div>
        <div class="col-md-8">
          <h3>Anusha Rijhsinghani</h3>
          <p>Anusha is a second year intended Business Administration and Economics double major at UC Berkeley. She hopes to pursue a career in consulting after graduation and is then considering going to either Business or Law school. Anusha joined the lab in Fall 2014 and is eager to learn more about social psychology in the business world as well as apply what she learns in the classroom to real-life situations. In her spare time, Anusha loves play musical instruments, travel, and go sky-diving!</p>
        </div>
      </div>

      <div class="thumbnail row">
        <div class="col-md-3">
          <img src="resources/dj_satoda.png" alt="DJ Satoda" class="img-rounded img-responsive profilePicLab">
        </div>
        <div class="col-md-8">
          <h3>DJ Satoda</h3>
          <p>DJ is a sophomore studying Business Administration and English. He joined the team in Spring 2015 and has loved it thus far. After he graduates in 2017, DJ hopes to work in management consulting in New York City. In his spare time, DJ enjoys European literature, street photography, and skateboarding. Before he graduates, he wants to journey north to see the aurora borealis.</p>
        </div>
      </div>

      <div class="thumbnail row">
        <div class="col-md-3">
          <img src="resources/steve_han.png" alt="Steve Han" class="img-rounded img-responsive profilePicLab">
        </div>
        <div class="col-md-8">
          <h3>Steve Han</h3>
          <p>Steve Han is a second year Economics major at UC Berkeley. He joined the team in his spring semester of sophomore year in 2015. Steve is currently pursuing a career in finance. In his free time, he likes to play basketball or soccer and participate in outdoor activities.</p>
        </div>
      </div>

      <div class="thumbnail row">
        <div class="col-md-3">
          <img src="resources/maggie_shaw.png" alt="Maggie Shaw" class="img-rounded img-responsive profilePicLab">
        </div>
        <div class="col-md-8">
          <h3>Maggie Shaw</h3>
          <p>Maggie is a first year student studying the humanities. She is currently considering attending law school or working in international relations after graduation. She loves hiking, reading, and spending time with her friends</p>
        </div>
      </div>

      <div class="thumbnail row">
        <div class="col-md-3">
          <img src="resources/arthur_rietdyk.png" alt="Arthur Rietdyk" class="img-rounded img-responsive profilePicLab">
        </div>
        <div class="col-md-8">
          <h3>Arthur Rietdyk</h3>
          <p>Arthur is a first year Business Administration and Statistics double major and just joined the team this past spring. He is also apart of the Cal Club Soccer Team, the TAMID Investing Club, and the Delta Chi Fraternity.</p>
        </div>
      </div>

      <div class="thumbnail row">
        <div class="col-md-3">
          <img src="resources/sam_lau.png" alt="Sam Lau" class="img-rounded img-responsive profilePicLab">
        </div>
        <div class="col-md-8">
          <h3>Sam Lau</h3>
          <p>Sam is a second year EECS major with an education minor. After graduation, he hopes to teach, code, and continue his search for adventure. He likes biking, tennis, and talking about life, education, and technology.</p>
        </div>
      </div>
    </div>

    <div class="containerBody container" id="labAlumni">
      <h3>Our Alumni</h3>

      <div class="thumbnail row">
        <div class="col-md-3">
          <img src="resources/melisa_bintoro.png" alt="Melisa Bintoro" class="img-rounded img-responsive profilePicLab">
        </div>
        <div class="col-md-8">
          <h3>Melisa Bintoro</h3>
          <p>Melisa is a graduate student studying Politics and International Studies at the University of Cambridge (PhD program). Melisa graduated from UC Berkeley with a dual degree in Business Administration and Political Science in Spring 2012 before studying for a Master’s degree in Development Studies (distinction) at the University of Cambridge. Melisa joined the team in her sophomore year in fall 2009 and worked for 3 years with Professors Tetlock, Bazerman, and Anderson</p>
        </div>
      </div>

      <div class="thumbnail row">
        <div class="col-md-3">
          <img src="resources/erika_oblea.png" alt="Erika Oblea" class="img-rounded img-responsive profilePicLab">
        </div>
        <div class="col-md-8">
          <h3>Erika Oblea</h3>
          <p>Erika is a graduate at the Georgetown University Law Center (JD program) pursuing a career as a corporate litigation lawyer. She will be working for Quinn Emmanuel Urquhart & Sullivan, LLP, after she graduates. She graduated from UC Berkeley with a double major in statistics and political science in fall 2011. Erika joined our team in her Sophomore year in Spring 2010 and has made significant contributions to the works of Professors Bazerman, Gino, and Anderson.</p>
          </div>
      </div>

      <div class="thumbnail row">
        <div class="col-md-3">
          <img src="resources/eric_anderson.png" alt="Eric Anderson" class="img-rounded img-responsive profilePicLab">
        </div>
        <div class="col-md-8">
          <h3>Eric Anderson</h3>
          <p>Eric currently works as an investment banking analyst at Deutsche Bank in New York.  An economics major who graduated from UC Berkeley in 2013, Eric spent 2.5 years in the lab, working on research projects that explore the dynamics of social power, working in group settings, and market inefficiencies.  In addition to conducting experiments, implementing new protocols, and facilitating the creation and processing of grant proposals, Eric also worked to develop new research designs to test hypotheses in an IRB and CPHS-compliant framework. Dr. Cameron Anderson, Dr. Don Moore, and Dr. Leif Nelson sponsored the projects on which Eric assisted.</p>
        </div>
      </div>

      <div class="thumbnail row">
        <div class="col-md-3">
          <img src="resources/kapil_gururangan.png" alt="Kapil Gururangan" class="img-rounded img-responsive profilePicLab">
        </div>
        <div class="col-md-8">
          <h3>Kapil Gururangan</h3>
          <p>Kapil is a graduate student at the Stanford University School of Medicine (MD program) pursuing a career in clinical research and patient care as a neurologist. He graduated from UC Berkeley with a double major in Molecular & Cell Biology (Honors in Neurobiology) and Business Administration. He joined our research team in the fall of 2010 in his sophomore year and became the team’s lab manager in his final year before graduating in 2013.</p>
          </div>
      </div>

      <div class="row thumbnail">
        <div class="col-md-3">
          <img src="resources/joy_chen.jpg" alt="Joy Chen" class="img-rounded img-responsive profilePicLab">
        </div>
        <div class="col-md-8">
          <h3>Joy Chen</h3>
          <p>Joy is a fourth year Business Administration and Statistics double major and joined the team in her freshman year in Spring 2012. After she graduates in 2015 she will be joining Lazard in the Healthcare M&A Group in San Francisco. During her free time, Joy enjoys equestrian horseback riding, traveling, and trying new cuisines.</p>
        </div>
      </div>

      <div class="thumbnail row">
        <div class="col-md-3">
          <img src="resources/tommy_shi.png" alt="Tommy Shi" class="img-rounded img-responsive profilePicLab">
        </div>
        <div class="col-md-8">
          <h3>Tommy Shi</h3>
          <p>Tommy is a fourth year student studying Business Administration, and joined the team in his freshman year in Spring 2012. After graduating, he will be working in financial & litigation consulting at Cornerstone Research in Menlo Park. Tommy loves basketball, cooking, reading, and exploring cultures. </p>
        </div>
      </div>


      <div class="thumbnail row">
        <div class="col-md-3">
          <img src="resources/arushi_saxena.png" alt="Arushi Saxena" class="img-rounded img-responsive profilePicLab">
        </div>
        <div class="col-md-8">
          <h3>Arushi Saxena</h3>
          <p>Arushi Saxena is a fourth year studying Business Administration and Human-Centered Design. Arushi joined the team in her freshman year in Spring 2012, and she appreciates that it compels her to ask relevant questions that often remain un-asked (Think: Why do powerful people choose to sit at the head of the table rather than the middle?). In the future, Arushi aspires to combine her interests in enterprise finance, technology, and international development. For fun, Arushi enjoys reading about gastronomy and exploring the Bay Area through mountain hiking.</p>
        </div>
      </div>

      <div class="thumbnail row">
        <div class="col-md-3">
          <img src="resources/collin_gallagher.png" alt="Collin Gallagher" class="img-rounded img-responsive profilePicLab">
        </div>
        <div class="col-md-8">
          <h3>Collin Gallagher</h3>
          <p>Collin is a recent graduate with a degree in Business Administration from the Haas School of Business. Collin joined the team his sophomore year in Fall 2012. Collin will be joining Bank of America Merrill Lynch in their Investment Banking Division in New York in July 2015. Originally from Orange County, Collin enjoys surfing, baseball, country music, and U.S. history</p>
        </div>
      </div>

      <div class="thumbnail row">
        <div class="col-md-3">
          <img src="resources/andrew_fang.png" alt="Andrew Fang" class="img-rounded img-responsive profilePicLab">
        </div>
        <div class="col-md-8">
          <h3>Andrew Fang</h3>
          <p>Andrew is a fourth year Electrical Engineering & Computer Science and Applied Math double major, and joined the team in Fall 2013. After graduating from UC Berkeley, he will be getting a Master's Degree in Computer Science with a concentration in Human Computer Interaction at Stanford University. He loves relaxing on the beach, playing basketball, and hiking.</p>
        </div>
      </div>

    </div>

      <!-- Foot goes here -->
        REPLACEFOOT


</body>
</html>
