<div class="container-fluid" id="titleBar">
<div class="row">
  <div class="col-md-10">
    <h1 class="titleText"><span id="titleName">Angus Hildreth</span></h1>
    <h2 class="titleText"><span id="titleDetails">University of California, Berkeley</span><h2>
  </div>
  <div class="col-md-2">
    <img src="resources/haasLogo.png" class="img-responsive" id="haasLogo" alt="" />
  </div>
</div>


</div>

<nav class="navbar navbar-default" role="navigation">
<div class="container-fluid">
  <ul class="nav navbar-nav navbar-right">
    <li><a href="index.html" id="homeBtn">Home</a></li>
    <li><a href="about.html" id="docBtn">About</a></li>
    <li class="navbtn dropdown">
    <a class="dropdown-toggle" id="labbutton" class="labbutton" href="lab.html">
    Lab
    </a>
    <ul class="dropdown-menu">
    <li class="navbtn"><a href="lab.html#labOverview" class="labbutton">Overview</a></li>
    <li class="navbtn"><a href="lab.html#labApply" class="labbutton">Apply</a></li>
    <li class="navbtn"><a href="lab.html#labMembers" class="labbutton">Team</a></li>
    <li class="navbtn"><a href="lab.html#labAlumni" class="labbutton">Alumni</a></li>
    </ul>
    </li>
    <li><a href="research.html" id="docBtn">Research</a></li>
    <li><a href="vita.html" id="aboutBtn">Vita</a></li>
  </ul>
</div>
</nav>
