
<html>
<head>
  <title> Angus Hildreth | Publications</title>
  <meta name="description" content="Personal website of Angus Hildreth - Publications">

  <!-- Head goes here -->
  REPLACEHEAD

</head>
<body>

    <!-- Menu goes here -->
    REPLACEMENU

  <div class="container containerBody firstContainer">
      <h3 class="h3withPadBtm">Research Papers</h3>
      <ul>
    <li><b>Hildreth, J.A.D.</b>, Gino, F., & Bazerman M. Blind loyalty? How group loyalty makes us see evil or engage in it. (in press). <i>Organizational Behavior and Human Decision Processes</i> .</li>
    <li><b>Hildreth, J.A.D.</b>, & Anderson, C. (in press). Failure at the top: How power undermines collaborative performance. <i>Journal of Personality and Social Psychology</i>.</li>
    <li>Anderson, C., <b>Hildreth, J.A.D.</b>, & Howland, L. (2015) Do people possess a fundamental desire for status? A review of the empirical literature. <i>Psychological Bulletin</i>, 141, 574-601.</li>
    <li><b>Hildreth, J. A. D.</b>, Moore, D. A., & Blader, S. L. (2014). Revisiting the Instrumentality of Voice: Having Voice in the Process Makes People Think They Will Get What They Want. <i>Social Justice Research</i>, 27(2), 209-230.</li>
    <li>Self, W.T., Mitchell, G. Mellers, B.A., Tetlock, P.E., & <b>Hildreth, J.A.D.</b> Balancing Fairness and Efficiency:  The Impact of Identity-Blind and Identity-Conscious Accountability on Applicant Screening.</li>
      </ul>
    </div>

    <div class="container containerBody" id="collaborators">
      <h3 class="h3withPadBtm">Collaborators</h3>
      <div class="row">
        <div class="col-md-3" align="center"><a class="noA" target="_blank" href="http://facultybio.haas.berkeley.edu/faculty-list/anderson-cameron"><div class="circle"><p>Cameron Anderson</p></div></a></div>
        <div class="col-md-3" align="center"><a class="noA" target="_blank" href="http://www.hbs.edu/faculty/Pages/profile.aspx?facId=6420"><div class="circle"><p>Max Bazerman</p></div></a></div>
        <div class="col-md-3" align="center"><a class="noA" target="_blank" href="http://www.stern.nyu.edu/faculty/bio/steven-blader"><div class="circle"><p>Steve Blader</p></div></a></div>
        <div class="col-md-3" align="center"><a class="noA" target="_blank" href="http://facultybio.haas.berkeley.edu/faculty-list/chatman-jennifer"><div class="circle"><p>Jennifer Chatman</p></div></a></div>
      </div>
      <div class="row">
        <div class="col-md-3" align="center"><a class="noA" target="_blank" href="http://www.hbs.edu/faculty/Pages/profile.aspx?facId=271812"><div class="circle"><p>Francesca Gino</p></div></a></div>
        <div class="col-md-3" align="center"><a class="noA" target="_blank" href="http://psychology.sas.upenn.edu/node/20474"><div class="circle"><p>Barb Mellers</p></div></a></div>
        <div class="col-md-3" align="center"><a class="noA" target="_blank" href="http://www.law.virginia.edu/lawweb/faculty.nsf/fhpbi/1191856"><div class="circle"><p>Greg Mitchell</p></div></a></div>
        <div class="col-md-3" align="center"><a class="noA" target="_blank" href="http://facultybio.haas.berkeley.edu/faculty-list/moore-don"><div class="circle"><p>Don Moore</p></div></a></div>
      </div>
      <div class="row">
        <div class="col-md-3" align="center"><a class="noA" target="_blank" href="http://facultybio.haas.berkeley.edu/faculty-list/nelson-leif"><div class="circle"><p>Lief Nelson</p></div></a></div>
        <div class="col-md-3" align="center"><a class="noA" target="_blank" href="http://bloch.umkc.edu/faculty-staff/faculty-directory/profiles/self-william.aspx"><div class="circle"><p>Will Self</p></div></a></div>
        <div class="col-md-3" align="center"><a class="noA" target="_blank" href="http://www.sas.upenn.edu/tetlock/"><div class="circle"><p>Philip Tetlock</p></div></a></div>
      </div>
    </div>


  <!-- Foot goes here -->
  REPLACEFOOT
</body>
</html>
