
<html>
<head>
  <title> Angus Hildreth | Research</title>
  <meta name="description" content="Personal website of Angus Hildreth - Research Page">

  <!-- Head goes here -->
  REPLACEHEAD

</head>
<body>

  <!-- Menu goes here -->
  REPLACEMENU

  <div class="container containerBody firstContainer" id="research">
    <h2>Research</h2>
    <p>My research focuses on the dysfunctionality of groups and examines the effects of power and loyalty on group members’ collaborative and ethical behavior.</p>
    <div class="row">
      <div class="col-md-6" align="center">
        <a href="#power"><img src="resources/power.png" class="img img-responsive"/></a>
        <h4>Leadership, Power and Status</h4>
      </div>
      <div class="col-md-6" align="center">
        <a href="#loyalty"><img src="resources/loyalty.png" class="img img-responsive"/></a>
        <h4>Loyalty and Morality</h4>
      </div>
    </div>
  </div>
      <hr class="paddedHr">

  <div class="container containerBody" id="power">
    <h3 class="h3withPadBtm"><span class="bold">Research</span>: <span class="light">Leadership, power and status in groups and top teams</span></h3>
    <div class="row">
      <div class="col-md-6" align="center">
        <img src="resources/power.png" class="img img-responsive"/>
        <h4>Leadership, Power and Status</h4>
      </div>
      <div class="col-md-6">
        <h4 class="h4noTop">Key Questions</h4>
        <ul>
          <li>Why do top teams perform poorly and how can performance issues be mitigated?</li>
          <li>How does a leader’s power and influence style affect the performance of their groups and the cultures they create?</li>
          <li>What is the nature of social status? And, how does it affect social functioning and well-being in groups?</li>
        </ul>
        <h4>Relevant Research</h4>
        <ul>
          <li>Anderson, C., <span class="bold">Hildreth, J.A.D.</span>, & Howland, L. (2015) Do people possess a fundamental desire for status? A review of the empirical literature. Psychological Bulletin</li>
          <li><span class="bold">Hildreth, J.A.D.</span>, Anderson, C. Failure at the top: How power undermines collaborative performance. Journal of Personality and Social Psychology. (2nd Revised and Resubmitted)</li>
          <li>Chatman, J.A., <span class="bold">Hildreth J.A.D.</span> & Anderson, C. Do as I say not as I do: How leaders’ interpersonal style and power influence organizational culture.</lli>
          <li>Anderson, C. & <span class="bold">Hildreth, J.A.D.</span> Status and Subjective Wellbeing.</li>
        </ul>
      </div>
    </div>
  </div>

      <hr class="paddedHr">

  <div class="container containerBody" id="loyalty">
    <h3 class="h3withPadBtm"><span class="bold">Research</span>: <span class="light">Loyalty, ethics, morality, and trust in group life</span></h3>
    <div class="row">
      <div class="col-md-6">
        <h4 class="h4noTop">Key Questions</h4>
        <ul>
        <li>What is the nature of loyalty? And how does it drive individual behavior in groups?</li>
        <li>What are the effects of loyalty on expectations and acts of trust and trustworthiness?</li>
        <li>Does loyalty corrupt?</li>
        </ul>
        <h4>Relevant Research</h4>
        <ul>
          <li><span class="bold">Hildreth, J.A.D.</span>, Gino, F., & Bazerman M. Blind loyalty? How group loyalty makes us see evil. Organizational Behavior and Human Decision Processes</li>
          <li><span class="bold">Hildreth, J.A.D</span> & Anderson, C. The Morality of Loyalty: How loyalty shapes ethical behavior.

        </ul>
      </div>
      <div class="col-md-6" align="center">
        <img src="resources/loyalty.png" class="img img-responsive"/>
        <h4>Loyalty and Morality</h4>
      </div>
    </div>
  </div>

      <hr class="paddedHr">

  <div class="container containerBody" id="groups">
    <h3 class="h3withPadBtm"><span class="bold">Research</span>: <span class="light">Group Behavior</span></h3>
    <div class="row">
      <div class="col-md-6">
        <p>My research focuses on <span class="bold">group</span> interactions and measures <span class="bold">actual behavior</span> whenever possible.</p>
        <p>We bring <span class="bold">executives</span> and graduate students into the lab and <span class="bold">video-tape</span> group interactions.</p>
        <p>We measure behaviors such as Agreement, Cheating, Creativity and Performance.</p>
      </div>
      <div class="col-md-6" align="center">
        <img class="groupimg" src="resources/groups2.png" class="img img-responsive"/>
        <img class="groupimg" src="resources/groups1.png" class="img img-responsive"/>
      </div>
    </div>
  </div>
    <!-- Foot goes here -->
      REPLACEFOOT


</body>
</html>
